body {
  background-color: #e5e5e5;
}

#portfolio .card {
  margin: 0 auto;
  max-width: 70%;
  /* max-height: 496px; */
}

ul {
  list-style: none;
}

#portfolio .btn:hover,
#contact .btn:hover {
  color: #fff !important;
  background-color: #4053FC;
}

#contact .btn {
  margin: 0 auto;
}

#showcase {
  background-image: url(/img/Header bg@2x.png);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 105vh;
  border-bottom-left-radius: 120px;
  margin-bottom: 50px;
}

#about {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 105vh;
  border-top-right-radius: 120px;
  margin-bottom: -90px;
}

#contact {
  background-image: url(/img/bg2.png);
  background-color: #6070FF;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 105vh;
  border-top-left-radius: 120px;
}

#contact textarea {
  width: 100%;
}

.d-flex {
  flex-wrap: wrap;
}
