body {
  background-color: #e5e5e5;
}

#portfolio .card {
  margin: 0 auto;
  max-width: 70%;
  /* max-height: 496px; */
}

ul {
  list-style: none;
}

#portfolio .btn:hover {
  color: #fff !important;
  background-color: #4053FC;
}